.box-picture {
    .container-picture {
        border-radius: 5px;
        border: 3px solid #e2dcfd;
        margin: 20px;
        padding: 20px;
    
    }
    .copy, .shuffle {
        padding: 10px;
        height: 40px;
        vertical-align: bottom;
        border-radius: 5px;
        background-color: #4285f4;
        color: #FFFFFF;
        border: 2px solid;
        font-size: 17px;
    }
    .copy, .shuffle {
        margin-right: 16px;
        float: right;
    }
}