.box-picture {
  .container-picture {
    box-shadow: 0px 0px 5px 2px #4285f4;
    border: 3px solid #e2dcfd;
    margin-bottom: 20px;
    padding: 7px;
    min-width: 280px;
    min-height: 200px;
    img {
      max-width: 380px;
      max-height: 300px;
    }
  }

  .btn {
    padding: 10px;
    height: 40px;
    vertical-align: bottom;
    border-radius: 5px;
    background-color: #4285f4;
    color: #ffffff;
    border: 1px solid #4285f4;
    font-size: 17px;
  }
  .favorite,
  .shuffle {
    margin-right: 16px;
  }

  .copy,
  .favorite,
  .shuffle {
    float: right;
  }

  .btn:hover,
  .input-shared-giphy:hover {
    box-shadow: 3px 3px 5px 3px #555151;
  }

  .input-shared-giphy {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 2px solid #e2dcfd;
    font-size: 15px;
  }
}
