.gallery {
  .title {
    color: #4285f4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-bottom: 5px;
  }

  .container {
    min-height: 200px;
    max-height: 290px;
    overflow-x: hidden;
    border: 4px solid #e2dcfd;
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px;
    box-shadow: 0px 0px 5px 2px #4285f4;

    img:hover {
      box-shadow: 3px 7px 5px 3px #f3e8e8;
      width: 255px;
      height: 155px;
      padding: 0px !important;
      margin-right: 5px;
    }

    .miniature {
      img {
        padding: 5px;
        border: 2px solid #e2dcfd;
        margin-bottom: 20px;
      }

      padding: 7px;
    }
  }
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #4285f4;
}
