html {
  height: 100%;
  background-color: #181a3c;
}

.app {
  padding: 20px 206px;
}

.toast {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

@import "~toastr/build/toastr.min.css";
@import "./scripts/components/Shared/InputFilter/InputFilter.scss";
@import "./scripts/components/Shared/Gallery/Gallery.scss";
@import "./scripts/components/Shared/BoxPicture/BoxPicture.scss";
@import "./scripts/components/ScreenSearchGiphy/ScreenSearchGiphy.scss";
