html {
    height: 100%;
    background-color: black;
}

.app {
    padding: 20px;
}

@import './scripts/components/Shared/InputFilter/InputFilter.scss';
@import './scripts/components/Shared/Gallery/Gallery.scss';
@import './scripts/components/Shared/BoxPicture/BoxPicture.scss';
@import './scripts/components/ScreenSearchGiphy/ScreenSearchGiphy.scss';